<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin for the hotel</title>
    <br>

</head>
<body>

<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="/">
        <img src="https://cdn.discordapp.com/attachments/486433511335657475/618347980306776064/unknown.png" width="120" height="45"  class="d-inline-block align-top" alt="">
        <b style="font-size:25px">LIFORNIA</b>
    </a>
</nav>

<div class="container" style="margin-right:30px ">

    <a href="/admin/viewRoom" > View the roomtypes</a>
    <br>
    <a href="/admin/addRoom" > Add a roomtype</a>
    <br>
    <a href="/admin/editRoom" > Edit a roomtype</a>

    <a href="/admin/viewCustomer" > View customer</a>



</div>

</body>
</html>